html, body {
    height: 100%;
}
.fill-height {
   min-height: 100%;
   height:auto !important; /* cross-browser */
   height: 100%; /* cross-browser */
}

.white-text{
    color: white;
}

.tab-content {
    background-color: white;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 10px;
}

.inbox-content-grey{
    background-color: #fcfcfc;
    border-left: 1px solid #fcfcfc;
    border-right: 1px solid #fcfcfc;
    border-bottom: 1px solid #fcfcfc;
    border-top: 1px solid #fcfcfc;
    padding: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-content: center;
}

.inbox-content-white{
    background-color: white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.nav-tabs {
    margin-bottom: 0;
}

.grey-text{
    color: #d6d6d6;
}

